// ================Feature Area =================
section.feature_area.p_120(class=`${featureClass ? featureClass:''}`)
  .container
    .main_title
      h2 offerings to my clients
      p
        | If you are looking at blank cassettes on the web, you may be very confused at the difference in price. You may see some for as low as $.17 each.
    .feature_inner.row
      .col-lg-4.col-md-6
        .feature_item
          i.flaticon-city
          h4 Architecture
          p
            | If you are looking at blank cassettes on the web, you may be very confused at the difference in price. You may see some for as low as $17 each.
      .col-lg-4.col-md-6
        .feature_item
          i.flaticon-skyline
          h4 Interior Design
          p
            | If you are looking at blank cassettes on the web, you may be very confused at the difference in price. You may see some for as low as $17 each.
      .col-lg-4.col-md-6
        .feature_item
          i.flaticon-sketch
          h4 Concept Design
          p
            | If you are looking at blank cassettes on the web, you may be very confused at the difference in price. You may see some for as low as $17 each.
      .col-lg-4.col-md-6
        .feature_item
          i.flaticon-city
          h4 Architecture
          p
            | If you are looking at blank cassettes on the web, you may be very confused at the difference in price. You may see some for as low as $17 each.
      .col-lg-4.col-md-6
        .feature_item
          i.flaticon-skyline
          h4 Interior Design
          p
            | If you are looking at blank cassettes on the web, you may be very confused at the difference in price. You may see some for as low as $17 each.
      .col-lg-4.col-md-6
        .feature_item
          i.flaticon-sketch
          h4 Concept Design
          p
            | If you are looking at blank cassettes on the web, you may be very confused at the difference in price. You may see some for as low as $17 each.
// ================End Feature Area =================
