// ================Footer Area =================
footer.footer_area.p_120
  .container
    .row.footer_inner
      .col-lg-5.col-sm-6
        aside.f_widget.ab_widget
          .f_title
            h3 A small tip..
          p
            | Do you want to be even more successful? Learn to love learning and growth. The more effort you put into improving your skills, the better chances you have.
          p
            // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
            | Copyright © 2019
            |  All rights reserved | This template is made with 
            i.fa.fa-heart-o(aria-hidden='true')
            |  by 
            a(href='https://colorlib.com', target='_blank') Colorlib
            // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
      .col-lg-5.col-sm-6
        .contact_info
          .info_item
            i.lnr.lnr-home
            h6 Mumbai, India
            p Marol, Andheri East, Mumbai 400059, Maharashtra
          .info_item
            i.lnr.lnr-phone-handset
            h6
              a(href='tel:+919167352916') (+91) 9167352916
            p Mon to Fri 10am to 6 pm
          .info_item
            i.lnr.lnr-envelope
            h6
              a(href='mailto:tino1000@live.com') tino1000@live.com
            p Send us your query anytime!
        // aside.f_widget.news_widget
          .f_title
            h3 Newsletter
          p Stay updated with our latest trends
          #mc_embed_signup
            form.subscribe_form.relative(target='_blank', action='https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&id=92a4423d01', method='get')
              .input-group.d-flex.flex-row
                input(name='EMAIL', placeholder='Enter email address', onfocus="this.placeholder = ''", onblur="this.placeholder = 'Email Address '", required='', type='email')
                button.btn.sub-btn
                  span.lnr.lnr-arrow-right
              .mt-10.info
      .col-lg-2
        aside.f_widget.social_widget
          .f_title
            h3 Follow Me
          p Let us be social
          ul.list
            li
              a(href='https://www.facebook.com/valentino.pereira.14')
                i.fa.fa-facebook
            li
              a(href='https://twitter.com/ValentinoPereir')
                i.fa.fa-twitter
            li
              a(href='https://www.linkedin.com/in/valentino-pereira-7b5363170/')
                i.fa.fa-linkedin
            li
              a(href='https://www.instagram.com/pereiravalentino/')
                i.fa.fa-instagram
// ================End Footer Area =================
