// ================Footer Area =================
footer.footer_area.p_120
  .container
    .row.footer_inner
      .col-lg-5.col-sm-6
        aside.f_widget.ab_widget
          .f_title
            h3 About Me
          p
            | Do you want to be even more successful? Learn to love learning and growth. The more effort you put into improving your skills,
          p
            // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
            | Copyright ©
            script.
              document.write(new Date().getFullYear());
            |  All rights reserved | This template is made with 
            i.fa.fa-heart-o(aria-hidden='true')
            |  by 
            a(href='https://colorlib.com', target='_blank') Colorlib
            // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
      .col-lg-5.col-sm-6
       // aside.f_widget.news_widget
          .f_title
            h3 Newsletter
          p Stay updated with our latest trends
          #mc_embed_signup
            form.subscribe_form.relative(target='_blank', action='https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&id=92a4423d01', method='get')
              .input-group.d-flex.flex-row
                input(name='EMAIL', placeholder='Enter email address', onfocus="this.placeholder = ''", onblur="this.placeholder = 'Email Address '", required='', type='email')
                button.btn.sub-btn
                  span.lnr.lnr-arrow-right
              .mt-10.info
      .col-lg-2
        aside.f_widget.social_widget
          .f_title
            h3 Follow Me
          p Let us be social
          ul.list
            li
              a(href='#')
                i.fa.fa-facebook
            li
              a(href='#')
                i.fa.fa-twitter
            li
              a(href='#')
                i.fa.fa-dribbble
            li
              a(href='#')
                i.fa.fa-behance
// ================End Footer Area =================
