// ================Projects Area =================
section.projects_area.p_120
  .container
    .main_title
      h2 Our Recent Completed Projects
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
    .projects_fillter
      ul.filter.list
        li.active(data-filter='*')
          a(href='#') All Categories
        li(data-filter='.brand')
          a(href='#') Branding
        li(data-filter='.work')
          a(href='#') Creative Work 
        li(data-filter='.web')
          a(href='#') Web Design
    .projects_inner.row
      .col-lg-4.col-sm-6.brand.web
        .projects_item
          img.img-fluid(src='img/projects/projects-1.jpg', alt='')
          .projects_text
            a(href='portfolio-details.html')
              h4 3D Helmet Design
            p Client Project
      .col-lg-4.col-sm-6.brand.work
        .projects_item
          img.img-fluid(src='img/projects/projects-2.jpg', alt='')
          .projects_text
            a(href='portfolio-details.html')
              h4 3D Helmet Design
            p Client Project
      .col-lg-4.col-sm-6.work
        .projects_item
          img.img-fluid(src='img/projects/projects-3.jpg', alt='')
          .projects_text
            a(href='portfolio-details.html')
              h4 3D Helmet Design
            p Client Project
      .col-lg-4.col-sm-6.brand.web
        .projects_item
          img.img-fluid(src='img/projects/projects-4.jpg', alt='')
          .projects_text
            a(href='portfolio-details.html')
              h4 3D Helmet Design
            p Client Project
      .col-lg-4.col-sm-6.brand.work
        .projects_item
          img.img-fluid(src='img/projects/projects-5.jpg', alt='')
          .projects_text
            a(href='portfolio-details.html')
              h4 3D Helmet Design
            p Client Project
      .col-lg-4.col-sm-6.brand.work.web
        .projects_item
          img.img-fluid(src='img/projects/projects-6.jpg', alt='')
          .projects_text
            a(href='portfolio-details.html')
              h4 3D Helmet Design
            p Client Project
// ================End Projects Area =================
